<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>仿真问诊</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="css/public.css" media="all">
    <script src="jquery/jquery-3.3.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/theme.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico">

    <![endif]-->
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="lib/vue/vue.js"></script>
    <script src="lib/axios/axios.min.js"></script>

    <style>
        .layui-card {
            border: 1px solid #f2f2f2;
            border-radius: 5px;
        }

        .icon {
            margin-right: 10px;
            color: #1aa094;
        }

        .icon-blue {
            color: #1e9fff !important;
        }

        .layuimini-qiuck-module a i {
            display: inline-block;
            width: 100%;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 2px;
            font-size: 30px;
            background-color: #F8F8F8;
            color: #333;
            transition: all .3s;
            -webkit-transition: all .3s;
        }

        .layuimini-qiuck-module a cite {
            position: relative;
            top: 2px;
            display: block;
            color: #666;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 14px;
        }

        .main_btn>p {
            height: 40px;
        }

        .answer{
            margin:50px 10px 10px 10px;
        }

        .font-green{
            color: #006400;
        }

        .font-red{
            color: red;
        }

    </style>
</head>

<body >

<div id="fangzhen_paper">
    <div >
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-row">
                    <div class="layui-col-md8 layui-col-md-offset2">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <i class="fa fa-star icon icon-blue"></i>
                                <span class="h4" style="text-align: center">仿真诊疗问题收藏</span>
                                <div style="float: right;margin-right: 10px" @click="setCollec" >
                                    <i class="fa fa-star fa-lg"  :class="{'text-warning':collec}"></i>
                                </div>
                            </div>

                            <div class="layui-col-md12">
                                <!--患者基本信息-->
                                <div class=" layui-card">
                                    <div class="layui-card-header">
                                        <h3><font color="#1e90ff">1.患者基本信息</font> </h3>
                                    </div>
                                    <div class="layui-card-body">
                                        <p>基本信息：患者男性，59岁，无既往史或个人史。</p>
                                        <p>主诉：膀胱癌</p>
                                        <p>现病史：2021年4月22日以“反复排肉眼血尿三个月”为主诉就诊；超声检查提示膀胱占位，不除外膀胱恶性肿瘤。</p>
                                    </div>
                                </div>
                                <!--开具检查项-->
                                <div class=" layui-card">
                                    <div class="layui-card-header">
                                        <span class="h3"><font color="#1e90ff">2. 确定检查项</font> </span>
                                        <div style="float: right">
                                            <button class="btn btn-info" @click="insertCheck()">
                                                新建检查项
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                            <button class="btn btn-success" @click="submitCheck()">
                                                提交检查项
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="layui-card-body" >

                                        <div class="input-group" style="width: 600px; height: 30px;margin-top: 10px" v-for="(item,index) in check">
                                            <span class="input-group-addon" style="margin-left: 20px;">{{index+1}}</span>
                                            <input type="text"  class="form-control" placeholder="请输入检查项">
                                            <span class="input-group-addon" @click="deleteCheck(index)">
                                               <i class="fa fa-minus" aria-hidden="true"></i>
                                           </span>
                                        </div>
                                    </div>
                                </div>
                                <!--检查结果-->
                                <!--加载动画效果-->
                                <div class="container" v-if="checkAnimation" style="text-align: center">
                                    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="layui-card" v-if="showCheckRes">
                                    <div class="layui-card-header">
                                        <span class="h3"><font color="#1e90ff">3. 检查结果</font> </span>
                                    </div>
                                    <div class="layui-card-body layui-text" >
                                        <table class="layui-table">
                                            <colgroup>
                                                <col width="100">
                                                <col>
                                            </colgroup>
                                            <tbody>
                                            <tr>
                                                <td>多参数MRI</td>
                                                <td>
                                                    膀胱左侧壁结节灶，大小约1.6*1.8cm，病灶突破浆膜层伴周围组织浸润，累及左侧输尿管内口。病灶周围、左侧髂内动脉旁及双侧腹股沟区多发淋巴结，考虑转移可能。
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>膀胱镜检查及活检病理</td>
                                                <td>膀胱左侧壁可见多发菜花样肿物，基底宽，肿物表面附有絮状物。对肿物进行多点活检。病理活检示：符合高级别浸润性尿路上皮癌，免疫组化：肿瘤细胞CK7(+)，CK20部分(+)，GAT A3 (+)，P63 (+)，PSA (-)，Ki-67约60% (+)。</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!-- 最终给出诊断结果和治疗方案-->
                                <div class=" layui-card" v-if="showCheckRes">
                                    <div class="layui-card-header">
                                        <span class="h3"><font color="#1e90ff">4. 诊断及治疗</font> </span>
                                        <div style="float: right">
                                            <button class="btn btn-success" @click="submit()">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                                <span>提交</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="layui-card-body" >
                                        <div class="input-group" style="width: 600px; height: 30px;margin-top: 10px" >
                                            <span class="input-group-addon" style="margin-left: 20px;">1.</span>
                                            <input type="text"  class="form-control" placeholder="请输入诊断结果">
                                        </div>
                                        <div class="input-group" style="margin-top: 10px">
                                            <!--进行TURBT手术，术后即刻行灌注治疗。-->
                                            <span class="input-group-addon" style="margin-left: 20px;">2.</span>
                                            <textarea name="keywords" class="layui-textarea" placeholder="请输入治疗方案" style="width: 600px; height: 200px;"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>

                <!--批改部分-->
                <div class="layui-row" v-if="submitted">
                    <div class="layui-col-md8 layui-col-md-offset2">
                        <!--标准答案-->
                        <!--                        膀胱高级别浸润性尿路上皮癌-->
                        <div class="answer">
                            <h3>
                                <font color="#1e90ff">标准答案</font>
                            </h3>
                            <table class="layui-table">
                                <colgroup>
                                    <col width="100">
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>检查项</td>
                                    <td>
                                        1. 多参数MRI<br>
                                        2. 膀胱镜检查及活检病理
                                    </td>
                                </tr>
                                <tr>
                                    <td>诊断结果</td>
                                    <td>膀胱高级别浸润性尿路上皮癌</td>
                                </tr>
                                <tr>
                                    <td>治疗方案</td>
                                    <td>术前新辅助化疗（GC方案）联合免疫治疗（ICI）：吉西他滨，第1、8天；顺铂, 第2天+百泽安（替雷利珠单抗） 200mg IV，第8天，共4个周期。</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="answer">
                            <h3>
                                <font color="#1e90ff">治疗方案分析</font>
                            </h3>
                            <table class="layui-table">
                                <colgroup>
                                    <col width="120">
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>文本分析</td>
                                    <td>
                                        <span class="font-green" >进行TURBT手术，</span>
                                        <span class="font-red">术后即刻行灌注治疗。</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="font-green">可行性分析</span> </td>
                                    <td>
                                        <ol>
                                            <li>1. 对怀疑NMIBC的患者，推荐TURBT作为诊断和初始治疗步骤。</li>
                                            <li>2. 除术后即刻膀胱灌注化疗禁忌症外，所有NMIBC患者术后均应在24h内行即刻膀胱灌注化疗。</li>
                                        </ol>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="font-red">风险性分析</span> </td>
                                    <td>1. 术中疑似发生膀胱穿孔、术后严重肉眼血尿的患者不宜行即刻膀胱灌注化疗。</td>
                                </tr>
                                </tbody>
                            </table>
                            <div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<script src="js/lay-module/layer/layer.js"></script>
<script>
    var select=new Vue({
        el:'#fangzhen_paper',
        data:{
            cardh:'1000px',
            collec:true,
            submitted:false,
            check:[
                "请输入检查项"
            ],
            checkRes:[
                "多参数MRI，膀胱左侧壁结节灶，大小约1.6*1.8cm，病灶突破浆膜层伴周围组织浸润，累及左侧输尿管内口。病灶周围、左侧髂内动脉旁及双侧腹股沟区多发淋巴结，考虑转移可能。",
                "膀胱镜检查及活检病理，膀胱左侧壁可见多发菜花样肿物，基底宽，肿物表面附有絮状物。对肿物进行多点活检。病理活检示：符合高级别浸润性尿路上皮癌，免疫组化：肿瘤细胞CK7(+)，CK20部分(+)，GAT A3 (+)，P63 (+)，PSA (-)，Ki-67约60% (+)"
            ],
            checkSubmitted:false,
            checkAnimation:false,
            showCheckRes:false
        },
        methods:{
            submit:function () {
                layer.open({
                    title: '提示'
                    ,content: '确定提交？',
                });
                this.submitted=true
            },
            setCollec:function () {
                this.collec=!this.collec
            },
            deleteCheck:function (index) {
                if (this.check.length>1){
                    this.check.splice(index,1)
                }else{
                    alert("检查项数量不可为空！")
                }
            },
            insertCheck:function () {
                this.check.splice(this.check.length-1,0,"")
            },
            submitCheck:function () {
                var that=this
                this.checkAnimation=true
                setTimeout(function () {
                    that.checkAnimation=false
                    that.showCheckRes=true
                },2000)

            }
        }
    })
</script>
<script src="lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="js/lay-config.js?v=1.0.4" charset="utf-8"></script>
</body>

</html>