<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>医学知识测试</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="css/public.css" media="all">
    <script src="jquery/jquery-3.3.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>


    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/theme.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico">


    <![endif]-->
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="lib/vue/vue.js"></script>
    <script src="lib/axios/axios.min.js"></script>

    <style>
        .layui-card {
            border: 1px solid #f2f2f2;
            border-radius: 5px;
        }

        .icon {
            margin-right: 10px;
            color: #1aa094;
        }

        .icon-blue {
            color: #1e9fff !important;
        }

        .layuimini-qiuck-module a i {
            display: inline-block;
            width: 100%;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 2px;
            font-size: 30px;
            background-color: #F8F8F8;
            color: #333;
            transition: all .3s;
            -webkit-transition: all .3s;
        }

        .layuimini-qiuck-module a cite {
            position: relative;
            top: 2px;
            display: block;
            color: #666;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 14px;
        }

        .welcome-module {
            width: 100%;
            height: 210px;
        }

        .main_btn>p {
            height: 40px;
        }

    </style>
</head>

<body>

<div class="layuimini-container" id="paper">
    <div class="layuimini-main" >
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-row">
                    <div class="layui-col-md8 layui-col-md-offset2">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <i class="fa fa-pencil icon icon-blue"></i>
                                <span class="h4" style="text-align: center">医学知识测试（泌尿外科）</span>
                                <span class="h4" style="margin-left: 50px" v-if="num===-1">您的得分为：<font color="#228b22">80</font> 分</span>
                            </div>

                            <div class="layui-card-body row" :style="{height:this.cardh}">
                                <div class="welcome-module" style="margin-left: 30px;margin-right: 30px">
                                    <div>
                                        <div style="float: left; width: 20px">
                                            <h4 style="margin-top: 0">1.</h4>
                                        </div>
                                        <div style="margin-left: 30px">
                                            <div >
                                                <span class="h5">TURBT术后即刻膀胱灌注化疗的禁忌症？</span>
                                                <!--收藏按钮-->
                                                <div style="float: right;margin-right: 100px" @click="setshow(0)" >
                                                    <i class="fa fa-star fa-lg"  :class="{'text-warning':show[0]}"></i>
                                                </div>
                                            </div>
                                            <form>
                                                <div class="radio-custom radio-success mb5">
                                                    <input type="radio" id="q1-radio1" name="radioExample">
                                                    <label for="q1-radio1" class="h5">A. 术中疑似发生膀胱穿孔、术后严重肉眼血尿</label>
                                                </div>
                                                <div class="radio-custom radio-success mb5">
                                                    <input type="radio" id="q1-radio2" name="radioExample">
                                                    <label for="q1-radio2" class="h5">B. 多发性肿瘤、CIS、高级别肿瘤</label>
                                                </div>
                                                <div class="radio-custom radio-success mb5">
                                                    <input type="radio" id="q1-radio3" name="radioExample">
                                                    <label for="q1-radio3" class="h5">C. T1期肿瘤、G3/高级别肿瘤</label>
                                                </div>
                                                <div class="radio-custom radio-success mb5">
                                                    <input type="radio" id="q1-radio4" name="radioExample">
                                                    <label for="q1-radio4" class="h5">D. 严重免疫抑制（淋巴瘤、白血病、类固醇激素应用、艾滋病等）</label>
                                                </div>
                                            </form>
                                        </div>
                                        <div style="margin-left: 10px;margin-top: 30px" v-if="num===-1">
                                            <div>
                                                <h4>正确答案是：<font color="#30c9a1">C</font></h4>
                                            </div>
                                            <div>
                                                <div style="float: left;width: 30px" >
                                                    <strong>解析</strong>
                                                </div>
                                                <div style="margin-left: 35px">
                                                    <p>术中疑似发生膀胱穿孔、术后严重肉眼血尿的患者不宜行即刻膀胱灌注化疗。</p>
                                                </div>
                                            </div>

                                        </div>
                                        <hr style="margin-left: 0;margin-right: 50px">
                                    </div>
                                    <div>
                                        <div style="float: left; width: 20px">
                                            <h4 style="margin-top: 0">2.</h4>
                                        </div>
                                        <div style="margin-left: 30px">
                                            <div >
                                                <span class="h5">对NMIBC患者，BCG维持治疗3年是否优于维持治疗1年？</span>
                                                <!--收藏按钮-->
                                                <div style="float: right;margin-right: 100px" @click="setshow(1)" >
                                                    <i class="fa fa-star fa-lg"  :class="{'text-warning':show[1]}"></i>
                                                </div>
                                            </div>
                                           <form>
                                               <div class="radio-custom radio-success mb5">
                                                   <input type="radio" id="q2-radio1" name="radioExample">
                                                   <label for="q2-radio1" class="h5">A. 建议行1-3年的标准剂量BCG维持灌注治疗</label>
                                               </div>
                                               <div class="radio-custom radio-success mb5">
                                                   <input type="radio" id="q2-radio2" name="radioExample">
                                                   <label for="q2-radio2" class="h5">B. 应综合考虑患者的复发和进展风险、不良反应及医疗条件</label>
                                               </div>
                                               <div class="radio-custom radio-success mb5">
                                                   <input type="radio" id="q2-radio3" name="radioExample">
                                                   <label for="q2-radio3" class="h5">C. 可行1年BCG膀胱内治疗</label>
                                               </div>
                                               <div class="radio-custom radio-success mb5">
                                                   <input type="radio" id="q2-radio4" name="radioExample">
                                                   <label for="q2-radio4" class="h5">D. 以上说法都不对</label>
                                               </div>
                                           </form>
                                        </div>
                                        <div style="margin-left: 10px;margin-top: 30px" v-if="num===-1">
                                            <div>
                                                <h4>正确答案是：<font color="red">C</font></h4>
                                            </div>
                                            <div>
                                                <div style="float: left;width: 30px" >
                                                    <strong>解析</strong>
                                                </div>
                                                <div style="margin-left: 35px">
                                                    <p>对高危患者，建议行1-3年的标准剂量BCG维持灌注治疗；</p>
                                                    <p>中危患者可行1年BCG膀胱内治疗，最终选择应综合考虑患者的复发和进展风险、不良反应及医疗条件。</p>
                                                </div>
                                            </div>

                                        </div>
                                        <hr style="margin-left: 0;margin-right: 50px">
                                    </div>
                                    <div>
                                        <div style="float: left; width: 20px">
                                            <h4 style="margin-top: 0">3.</h4>
                                        </div>
                                        <div style="margin-left: 30px">
                                            <div >
                                                <span class="h5">复发性NMIBC患者，膀胱内BCG灌注治疗是否优于化学药物灌注治疗？</span>
                                                <!--收藏按钮-->
                                                <div style="float: right;margin-right: 100px" @click="setshow(2)" >
                                                    <i class="fa fa-star fa-lg"  :class="{'text-warning':show[2]}"></i>
                                                </div>
                                            </div>
                                            <form>
                                                <div class="radio-custom radio-success mb5">
                                                    <input type="radio" id="q3-radio1" name="radioExample">
                                                    <label for="q3-radio1" class="h5">A. 可立即给予一次膀胱灌注化疗</label>
                                                </div>
                                                <div class="radio-custom radio-success mb5">
                                                    <input type="radio" id="q3-radio2" name="radioExample">
                                                    <label for="q3-radio2" class="h5">B. 可考虑继续进行BCG灌注治疗</label>
                                                </div>
                                                <div class="radio-custom radio-success mb5">
                                                    <input type="radio" id="q3-radio3" name="radioExample">
                                                    <label for="q3-radio3" class="h5">C. 推荐BCG灌注治疗</label>
                                                </div>
                                                <div class="radio-custom radio-success mb5">
                                                    <input type="radio" id="q3-radio4" name="radioExample">
                                                    <label for="q3-radio4" class="h5">D. 术中疑似发生膀胱穿孔、术后严重肉眼血尿</label>
                                                </div>
                                            </form>
                                        </div>
                                        <div style="margin-left: 10px;margin-top: 30px" v-if="num===-1">
                                            <div>
                                                <h4>正确答案是：<font color="#30c9a1">C</font></h4>
                                            </div>
                                            <div>
                                                <div style="float: left;width: 30px" >
                                                    <strong>解析</strong>
                                                </div>
                                                <div style="margin-left: 35px">
                                                    <p>对膀胱灌注化疗后复发低危肿瘤和小乳头状瘤的患者，可立即给予一次膀胱灌注化疗；</p>
                                                    <p>对BCG膀胱灌注后复发低危肿瘤的患者，可考虑继续进行BCG灌注治疗；</p>
                                                    <p>对高危复发患者，除需要进行膀胱全切术的复发高危患者外，推荐BCG灌注治疗。</p>
                                                </div>
                                            </div>

                                        </div>
                                        <hr style="margin-left: 0;margin-right: 50px">
                                    </div>
                                    <div>
                                        <div style="float: left; width: 20px">
                                            <h4 style="margin-top: 0">4.</h4>
                                        </div>
                                        <div style="margin-left: 30px">
                                            <div >
                                                <span class="h5">对NMIBC患者，联合治疗（BCG灌注治疗联合化疗）是否优于单用BCG灌注治疗？</span>
                                                <!--收藏按钮-->
                                                <div style="float: right;margin-right: 100px" @click="setshow(3)" >
                                                    <i class="fa fa-star fa-lg"  :class="{'text-warning':show[3]}"></i>
                                                </div>
                                            </div>
                                            <div class="input-group" style="width: 600px; height: 30px;">
                                                <span class="input-group-addon" style="margin-left: 20px;">答案</span>
                                                <input type="text" placeholder="" class="form-control">
                                            </div>
                                        </div>
                                        <div style="margin-left: 10px;margin-top: 30px" v-if="num===-1">
                                            <div>
                                                <h5>正确答案：对于不适合或拒绝接受根治性膀胱切除术治疗的BCG无反应性患者，可考虑膀胱内BCG灌注治疗联合膀胱内灌注化疗。</h5>
                                            </div>
                                            <div>
                                                <div style="float: left;width: 30px" >
                                                    <strong>解析</strong>
                                                </div>
                                                <div style="margin-left: 35px">
                                                    <p>术中疑似发生膀胱穿孔、术后严重肉眼血尿的患者不宜行即刻膀胱灌注化疗。</p>
                                                </div>
                                            </div>

                                        </div>
                                        <hr style="margin-left: 0;margin-right: 50px">
                                    </div>
                                    <div>
                                        <div style="float: left; width: 20px">
                                            <h4 style="margin-top: 0">5.</h4>
                                        </div>
                                        <div style="margin-left: 30px">
                                            <div >
                                                <span class="h5">BCG治疗过程中肿瘤持续存在或BCG治疗失败后的治疗方案是什么？</span>
                                                <!--收藏按钮-->
                                                <div style="float: right;margin-right: 100px" @click="setshow(4)" >
                                                    <i class="fa fa-star fa-lg"  :class="{'text-warning':show[4]}"></i>
                                                </div>
                                            </div>
                                            <div class="input-group" style="width: 700px; height: 30px;">
                                                <span class="input-group-addon" style="margin-left: 20px;">答案</span>
                                                <textarea name="keywords" class="layui-textarea" placeholder=""></textarea>
                                            </div>
                                        </div>
                                        <div style="margin-left: 10px;margin-top: 30px" v-if="num===-1">
                                            <div>
                                                <h5>正确答案：若出现高危复发（T1期、CIS，或高级别肿瘤等），推荐行根治性膀胱切除术；
                                                    对于不适合或拒绝接受根治性膀胱切除术的患者，可进行保留膀胱治疗，如综合治疗、静脉化疗等。
                                                </h5>
                                            </div>
                                            <div>
                                                <div style="float: left;width: 30px" >
                                                    <strong>解析</strong>
                                                </div>
                                                <div style="margin-left: 35px">
                                                    <p>术中疑似发生膀胱穿孔、术后严重肉眼血尿的患者不宜行即刻膀胱灌注化疗。</p>
                                                </div>
                                            </div>

                                        </div>
                                        <hr style="margin-left: 0;margin-right: 50px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md1 layuimini-qiuck-module" style="margin-left:10px">
                        <button class="btn btn-info">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span id="time"></span>
                        </button>
                    </div>

                    <div  style="margin-left: 30px">
                        <button class="btn btn-success" @click="setnum(-1)">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <span>提交</span>
                        </button>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>

    <script type="text/javascript">
        var hours=0
        var mins=0
        var seconds=0
        var times=0
        sh=setInterval(function(){
            times+=1
            hours=parseInt(times/3600)
            mins=parseInt((times-hours*3600)/60)
            seconds=times%60
            var d = document.getElementById('time');
            d.innerHTML='用时:'+hours+':'+mins+':'+seconds;
        },1000)
    </script>


<script>
    var paper=new Vue({
        el:'#paper',
        data:{
            'keshi':'泌尿外科',
            num:10,
            cardh:'1000px',
            show:[
                false,
                false,
                false,
                false,
                false
            ]
        },
        methods:{
            setkeshi:function (keshi1){
                this.keshi=keshi1
            },
            setnum:function (num1) {
                this.num=num1
                if(num1===-1){
                    this.cardh='1500px'
                    clearInterval(sh)
                }
            },
            setshow(index){
                var tmp=!this.show[index]
                this.show.splice(index,1,tmp)
                console.log(this.show)
            }
        }
    })
</script>
<script src="lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['layer', 'miniTab', 'echarts'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            miniTab = layui.miniTab,
            echarts = layui.echarts;

        miniTab.listen();

        /**
         * 查看公告信息
         **/
        $('body').on('click', '.layuimini-notice', function () {
            var title = $(this).children('.layuimini-notice-title').text(),
                noticeTime = $(this).children('.layuimini-notice-extra').text(),
                content = $(this).children('.layuimini-notice-content').html();
            var html =
                '<div style="padding:15px 20px; text-align:justify; line-height: 22px;border-bottom:1px solid #e2e2e2;background-color: #2f4056;color: #ffffff">\n' +
                '<div style="text-align: center;margin-bottom: 20px;font-weight: bold;border-bottom:1px solid #718fb5;padding-bottom: 5px"><h4 class="text-danger">' +
                title + '</h4></div>\n' +
                '<div style="font-size: 12px">' + content + '</div>\n' +
                '</div>\n';
            parent.layer.open({
                type: 1,
                title: '系统公告' +
                    '<span style="float: right;right: 1px;font-size: 12px;color: #b1b3b9;margin-top: 1px">' +
                    noticeTime + '</span>',
                area: '300px;',
                shade: 0.8,
                id: 'layuimini-notice',
                btn: ['查看', '取消'],
                btnAlign: 'c',
                moveType: 1,
                content: html,
                success: function (layero) {
                    var btn = layero.find('.layui-layer-btn');
                    btn.find('.layui-layer-btn0').attr({
                        href: 'https://gitee.com/zhongshaofa/layuimini',
                        target: '_blank'
                    });
                }
            });
        });

        /**
         * 报表功能
         */
        var echartsRecords = echarts.init(document.getElementById('echarts-records'), 'walden');
        var optionRecords = {
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['挂号人数', '就诊人数', '登录人数']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                name: '挂号人数',
                type: 'line',
                data: [1200, 1320, 1010, 1340, 900, 2300, 2100]
            },
                {
                    name: '就诊人数',
                    type: 'line',
                    data: [2200, 1820, 1910, 2340, 2900, 3300, 3100]
                },
                {
                    name: '今日登录人数',
                    type: 'line',
                    data: [1500, 2320, 2010, 1540, 1900, 3300, 4100]
                },
            ]
        };
        echartsRecords.setOption(optionRecords);

        // echarts 窗口缩放自适应
        window.onresize = function () {
            echartsRecords.resize();
        }

    });
</script>
</body>

</html>